@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron home">


</div>
<div class="row">
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="~/Images/ips.png" alt="Generic placeholder image" width="140" height="140">
            <h2>IPS</h2>
            <p>
                Contamos con las mejores entidades prestadoras de servicios de salud, que estan enfocadas en
                cumplir con las expectativas de nuestros clientes, ofreciendo el mejor servicio
            </p>
        </center>
    </div>
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="~/Images/servicios.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Servicios</h2>
            <p>
                Contamos con una amplia gama de servicios en el sector salud. Para lograr acceder a ellos
                implementamos una malla de validación muy flexible
            </p>
        </center>
    </div>

    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="~/Images/membresias.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Membresias</h2>
            <p>
                Nuestro sistema por membresias permite que nuestros servicios esten a su alcance
            </p>
        </center>
    </div>

</div>