@{
    ViewBag.Title = "Confirmación de Restablecimiento";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su password ha sido reseteao. Por favor @Html.ActionLink("presione click aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
